.menulist-container {
  width: 100%;
  background: #fff;
  .menu-item {
    position: relative;
    height: .8rem;
    line-height: .8rem;
    margin-left: .6rem;
    border-bottom: 1px solid #f1f1f1;
    .item-icon {
      width: .4rem;
      height: .4rem;
      position: absolute;
      left: 0;
      top: .2rem;
    }
    .menu-name {
      margin-left: .6rem;
      font-size: .36rem;
    }
    .icon-right {
      position: absolute;
      width: .4rem;
      height: .4rem;
      right: .2rem;
      top: .2rem;
    }
  }
}