.header-container {
  position: relative;
  width: 100%;
  height: .8rem;
  background: #282c34;
  text-align: center;
  line-height: .8rem;
  color: #fff;
  font-size: .3rem;
  font-weight: 600;
  .icon-back {
    position: absolute;
    top: .2rem;
    left: .1rem;
    width: .4rem;
    height: .4rem;
    background: url('../../assets/images/icon-back.svg');
    background-size: 100%;
  }
}